@using RunAndHikeStore.Web.ViewModels.Size
@model AddSizeViewModel

<h2 class="text-center mt-2">@ViewData["Title"]</h2>
<hr />


<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-area="Admin" asp-controller="Size" asp-action="Add" method="post">
            <div class="form-group">
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProductTypeId" class="form-label">Product Type</label>
                    <select asp-for="ProductTypeId" class="form-control">
                        @foreach (var type in Model.ProductTypes)
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ProductType" class="text-danger"></span>
                </div>
                <input class="btn-lg btn-success col-md-4 mt-3" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}