@using RunAndHikeStore.Web.ViewModels.ShoppingCart

<a asp-controller="ShoppingCart" asp-action="Index" class="btn btn-primary btn-sm ml-3">
    <i class="fa-solid fa-cart-shopping">
    </i>
    Cart
    <span class="badge badge-warning">0</span>
</a>