@using RunAndHikeStore.Web.ViewModels.Category
@model EditCategoryViewModel

<h2 class="text-center mt-3">@ViewData["Title"]</h2>
<hr/>


<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-area="Admin" asp-controller="Category" asp-action="Edit" method="post">
        <div class="form-group">
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <input class="btn-lg btn-warning col-md-4 mt-3" type="submit" value="Edit" />
                </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}