<div class="card-header py-3">
                <h4 class="mb-0 text-center">Billing Details</h4>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" ">First Name</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Last Name</label>
                            <input class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" ">Street Address</label>
                            <input class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" ">City</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Country</label>
                            <input class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Postal Code</label>
                            <input class="form-control" />
                        </div>
                        </div>
                        <div class="col">
                        <div class="form-outline mb-4">
                            <label class="form-label">Phone Number</label>
                            <input type="number" class="form-control" />
                        </div>
                    </div>
                </div>