@using RunAndHikeStore.Common
@{
    this.ViewData["Title"] = "Run and Hike Store";
}
<hr />
<div class="text-center">
    <h1 class="display-4">Welcome to Run and Hike Store!</h1>
</div>
<hr />

<div class="card">
   <div class="row">
    <div class="col-md-8">
         <img src="~/images/homepage-116669625.jpg" class="card-img-top img-thumbnail" alt="...">
    </div>
        <div class="col-md-4">
    <div class="card-body">
        <h1 class="card-title display-4 mb-5">The sky is your limit!</h1>
        <h2 class="card-text display-4 mb-5">Choose the best equipment for your next adventure!</h2>
        <a asp-action="All" asp-controller="Product" class="btn-lg btn-primary mt-5">See our products!</a>
    </div>
    </div>
</div>
</div>

<div class="text-center">
    @*<h2 class="display-4">Our bestsellers</h2>*@
</div>
