@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="mt-4 p-5 bg-dark text-center">
    <h2 class="display-4">Welcome to Run and Hike Store administration area! <i class="fa-solid fa-person-hiking mr-2"></i><i class="fa-solid fa-cable-car mr-2"></i><i class="fa-solid fa-person-running mr-2"></i></h2>
    <p class="lead mb-1 mt-3">
        You can <b>view</b>, <b>add</b>,
        <b>delete</b> and <b>edit</b> orders, products, stocks, sizes, brands and categories.
        <br />
    </p>
    <p class="lead mt-1">
        You can also see <b>all users and give them roles</b>.
    </p>
    <h3>Manage your:</h3>
    <hr class="my-4">
    <div class="row justify-content-center">
        <a asp-area="Admin" asp-controller="Order" asp-action="ManageOrders"
           class="btn btn-primary btn-lg">Orders</a>
        <a asp-area="Admin" asp-controller="Product" asp-action="ManageAll"
           class="btn btn-primary btn-lg">Products</a>
        <a asp-area="Admin" asp-controller="Stock" asp-action="ManageStocks"
           class="btn btn-primary btn-lg">Stocks</a>
        <a asp-area="Admin" asp-controller="Size" asp-action="ManageAll"
           class="btn btn-primary btn-lg">Sizes</a>
    </div>
    <div class="row justify-content-center mt-2">
        <a asp-area="Admin" asp-controller="Brand" asp-action="ManageAll"
           class="btn btn-primary btn-lg">Brands</a>
        <a asp-area="Admin" asp-controller="Category" asp-action="ManageAll"
           class="btn btn-primary btn-lg">Categories</a>
        <a asp-area="Admin" asp-controller="User" asp-action="ManageUsers"
           class="btn btn-primary btn-lg">Users</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}