@using RunAndHikeStore.Web.ViewModels.Stock
@model EditStockViewModel

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />


<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-area="Admin" method="post">
            <div class="form-group">
                <div class="mb-3">
                    <input asp-for="ProductId" type="hidden" />
                    <label asp-for="ProductNumber">Product Number</label>
                    <input asp-for="ProductNumber" class="form-control" readonly />
                    <span asp-validation-for="ProductNumber" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProductType" class="form-label">Product Type</label>
                    <input asp-for="ProductType" class="form-control " readonly />
                    <span asp-validation-for="ProductType" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Brand" class="form-label">Brand</label>
                    <input asp-for="Brand" class="form-control " readonly />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Name">Product Name</label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Color">Color</label>
                    <input asp-for="Color" class="form-control" readonly />
                    <span asp-validation-for="Color" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Gender" class="form-label">Gender</label>
                    <input asp-for="Gender" class="form-control " readonly />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UnitPrice">Unit Price</label>
                    <input asp-for="UnitPrice" class="form-control" readonly />
                    <span asp-validation-for="UnitPrice" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SizeName">Product Size</label>
                    <input asp-for="SizeId" type="hidden" />
                    <input asp-for="SizeName" class="form-control" readonly />
                    <span asp-validation-for="SizeName" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UnitsInStock">Units In Stock</label>
                    <input asp-for="UnitsInStock" class="form-control" />
                    <span asp-validation-for="UnitsInStock" class="small text-danger"></span>
                </div>
                <input class="btn-lg btn-warning col-md-4 mt-3" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}